<h1>Clientes</h1>
<hr>
<table class="table">
    <!-- Títulos da tabela -->
    <thead> 
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
        </tr>    
    </thead>
    <!-- Conteúdo da tabela -->
    <tbody>
        <tr>
            <td>01</td>
            <td>Zezinho da Silva</td>
            <td>Rua lalala 100</td>
            <td>Masculino</td>
            <td>5555-1234</td>
        </tr>
    </tbody>
</table>